VITE_AUTH_API_URL=https://lz0092yg52.execute-api.us-east-1.amazonaws.com
VITE_PEDIDOS_API_URL=https://sjpoxrretc.execute-api.us-east-1.amazonaws.com
VITE_FLUJO_API_URL=https://qidu2vunv7.execute-api.us-east-1.amazonaws.com
VITE_SEDES_API_URL=https://nww42xukgb.execute-api.us-east-1.amazonaws.com
